.player__header {
  padding: 1rem;
  text-align: center;
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }
  a {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    line-height: 2rem;
  }
}
.player__image {
  width: 100%;
  margin: 0;
}