.page-header--player {
  @extend .page-header;
  a {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    line-height: 2rem;
  }
}
.player__image {
  width: 100%;
  margin: 0;
}