<!-- TODO: App bar expand http://msdn.microsoft.com/en-us/library/windowsphone/develop/ff431813(v=vs.105).aspx -->
<nav class="app-bar">
  <div class="js-app-bar app-bar__container">
    <ul class="app-bar__items">
      <li class="app-bar__item">
        <a class="app-bar__icon"><i class="fa fa-search"></i></a>
        <a class="app-bar__label" href="">Search</a>
      </li>
      <li class="app-bar__item">
        <a class="app-bar__icon" href="/player"><i class="fa fa-music"></i></a>
        <a class="app-bar__label" href="/player">Player</a>
      </li>
    </ul>
    <span class="app-bar__expand js-app-bar-expand"><i class="fa fa-ellipsis-h"></i></span>
    <div class="app-bar__extra-items"></div>
  </div>
</nav>