<!-- TODO: App bar expand http://msdn.microsoft.com/en-us/library/windowsphone/develop/ff431813(v=vs.105).aspx -->
<nav class="app-bar">
  <div class="js-app-bar app-bar__container">
    <ul class="app-bar__items">
      <li class="app-bar__item">
        <span class="app-bar__icon"><i class="fa fa-search"></i></span>
        <p>Search</p>
      </li>
    </ul>
    <span class="app-bar__expand js-app-bar-expand"><i class="fa fa-ellipsis-h"></i></span>
    <div class="app-bar__extra-items"></div>
  </div>
</nav>