<!-- TODO: App bar expand http://msdn.microsoft.com/en-us/library/windowsphone/develop/ff431813(v=vs.105).aspx -->
<nav class="app-bar">
  <div class="js-app-bar app-bar__container">
    <span class="app-bar__icon"><i class="fa fa-search"></i></span>
    <span class="app-bar__expand"><i class="fa fa-ellipsis-h"></i></span>
  </div>
</nav>