.app-bar {
  background: #2a2a2a;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
}

.app-bar__icon {
  display: inline-block;
  border-radius: 50%;
  margin-top: 6px;
  height: 44px;
  width: 44px;
  border: 3px solid $white;
  text-align: center;
  font-size: 1.6rem;
  color: $white;
  i {
    padding-top: 8px;
  }
}

.app-bar__expand {
  font-size: 1.5rem;
  color: $white;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  line-height: 1;
}