.app-bar {
  padding: 6px 0 0 0;
  background: #2a2a2a;
  position: fixed;
  bottom: 0;
  height: 54px;
  width: 100%;
  text-align: center;
  color: $white;
  z-index: 10;
  a {
    color: $white;
  }
}

.app-bar__item {
  display: inline-block;
  text-align: center;
  padding: 0 0.5rem;
  margin: 0;
  text-transform: lowercase;
  .app-bar__label {
    font-size: 0.6rem;
    margin: 0;
  }
}

.app-bar__icon {
  display: block;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  border: 3px solid $white;
  i {
    padding-top: 8px;
    font-size: 1.6rem;
  }
}

.app-bar__expand {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  line-height: 1;
}

.app-bar__extra-items {
  .app-bar__icon {
    display: none;
  }
  .app-bar__label {
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 2rem;
    display: block;
  }
}