$base-font-size: 16px;
$base-line-height: 1.5;

$black: #252525;
$grey: #f3f0e9;
$blue: #1020d0;
$white: #fbfbf9;

$bloom-yellow: #ffde00;
$bloom-orange: #fb763d;

$link-colour: $blue;

$panorama-bg: $grey;