@charset "UTF-8";

@import 'settings';
@import 'base/normalize';

// Base
@import 'base/typography';

// Modules
@import 'modules/panorama';
@import 'modules/app-bar';
@import 'modules/pivot';

// Pages
@import 'pages/home';
@import 'pages/artist';

// Global
body {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}