@charset "UTF-8";

@import 'settings';
@import 'base/normalize';

// Base
@import 'base/typography';

// Modules
@import 'modules/panorama';
@import 'modules/app-bar';
@import 'modules/pivot';

// Pages
@import 'pages/home';
@import 'pages/artist';
@import 'pages/player';
@import 'pages/library';
@import 'pages/playlist';

// Global

html {
  background: $white;
}
body {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $link-color;
  display: block;
}

// Track listings
.tracks__track {
  position: relative;
  padding: 1rem;
  margin: 0;
  h3, p {
    margin: 0;
    width: 85%;
  }
}

.tracks {
  .tracks__track {
    padding: 1rem 0;
  }
}

.borrow-button {
  position: absolute;
  right: 1rem;
  top: 25%;
  i {
    font-size: 1.5rem;
  }
}

.tracks__played-time {
  position: absolute;
  right: 4rem;
  top: 30%;
}

.page-header {
  padding: 1rem;
  span {
    font-weight: 700;
    text-transform: uppercase;
  }
  h1 {
    font-size: 2.6rem;
    margin: 0.5rem 0 0 0;
    font-weight: 300;
  }
}

.button {
  color: $white;
  padding: 0.5rem 1rem;
  background: $black;
  border-radius: 1rem;
  display: inline-block;
}

.borrowed-date-title {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

// Placeholder
.placeholder {
  background: $placeholder-color;
  color: $white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.placeholder--page {
  @extend .placeholder;
  padding: 10rem 1rem;
}