{% block content %}
<!-- TODO: Solve problem with “Various artists” -->
<div class="ui-panorama-item-active">
  <div class="page-header">
    <span>{{ model.artist }}</span>
    <h1>{{ model.name }}</h1>
  </div>
  <ul class="single-page">
    {% for item in model.tracks %}
    <li class="tracks__track">
      <a href="/player">
        <h3>{{ item.title }}</h3>
      </a>
      <a href="" class="borrow-button"><i class="fa fa-lemon-o"></i></a>
    </li>
    {% endfor %}
  </ul>
  <ul class="js-app-bar-icons">
    <li class="app-bar__item js-icon-added">
      <a class="app-bar__icon" href="/artist"><i class="fa fa-star"></i></a>
      <a class="app-bar__label" href="/artist">Artist page</a>
    </li>
    <li class="app-bar__item js-icon-added">
      <a class="app-bar__icon" href="/artist"><i class="fa fa-lemon-o"></i></a>
      <a class="app-bar__label" href="/artist">Borrow all</a>
    </li>
    <li class="app-bar__item js-icon-added">
      <a class="app-bar__icon" href="/artist"><i class="fa fa-plus"></i></a>
      <a class="app-bar__label" href="/artist">Playlist all</a>
    </li>
  </ul>
</div>
{% include "app-bar" %}
{% endblock %}
