{% block content %} 
<div class="page-header">
  <span>Artists Similar to</span>
  <h1>The Rolling Stones</h1>
</div>
<a class="placeholder--page" href="/artist">Similar artists wheel, working in the same way as the existing apps</a>

{% include "app-bar" %}
{% endblock %}