{% block content %} 
<div class="ui-panorama-item-active">
  <div class="page-header">
    <h1>{{ model.name }}</h1>
  </div>
  <ul>
    {% for item in model.tracks %}
    <li class="tracks__track">
      <a href="/player">
        <h3>{{ item.title }}</h3>
        <p>{{ item.artist }}</p>
      </a>
      <span class="tracks__played-time">{{ item.played }}</span>
      <a href="" class="borrow-button"><img src="http://imgsrc.me/40x40/9a1e1b/f3f3f3?"></a>
    </li>
    {% endfor %}
  </ul>
  <div class="js-app-bar-icons">
    <span class="app-bar__icon js-icon-added"><i class="fa fa-star"></i></span>
  </div>
</div>
{% include "app-bar" %}
{% endblock %}
