{% block content %} 
<div data-role="page" id="index">
  <div class="ui-panorama">
    <h1>application title</h1>
    <div class='ui-panorama-items'>
      <div class="ui-panorama-item">
        <h2>screen one</h2>
        <p>content</p>
      </div>
      <div class="ui-panorama-item">
        <h2>screen two</h2>
        <p>content</p>
      </div>
      <div class="ui-panorama-item">
        <h2>screen three</h2>
        <p>content</p>
      </div>
      <div class="ui-panorama-item" >
        <h2>screen four</h2>
        <p>content</p>
      </div>
      <div class="ui-panorama-item">
        <h2>screen five</h2>
        <p>content</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}