{% block content %} 
<div class="page-header">
  <span>Genres</span>
  <h1>Radio Wheel</h1>
</div>
<a class="placeholder--page" href="/player">Radio wheel, working in the same way as the existing apps</a>

{% include "app-bar" %}
{% endblock %}