{% block content %} 
<div class="ui-panorama-item-active ">
  <div class="page-header">
    <span>Share playlist</span>
    <h1>Playlist title</h1>
  </div>
  <a class="placeholder--page" href="/playlist">Share dialog, see designs</a>
</div>

{% include "app-bar" %}
{% endblock %}
