{% layout "none" %}

<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0 maximum-scale=1.0" />
  </head>
<body>
  <style>
    body {
      overflow: hidden;
      background-color:#252525;
    }
    .container {
      margin: 2rem auto;
      width: 320px;
    }
  </style>
  <section class="container">
    <iframe id="iframe" name="phone" frameborder="0" width="480" height="800" src="index.html"></iframe>
  </section>
</body>